/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-shadows: 'Shadows Into Light', cursive;
  --font-rubik: 'Rubik', sans-serif;
  color-scheme: light;

  --rich-black-fogra-29: hsl(210, 26%, 7%);
  --champagne-pink_20: #f1d6c6;
  --independence_30: hsla(245, 17%, 29%, 0.3);
  --gray-x-11-gray: hsl(0, 0%, 73%);
  --champagne-pink: hsl(23, 61%, 86%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --deep-saffron: hsl(32, 100%, 59%);
  --dark-orange: hsl(28, 100%, 58%);
  --desert-sand: #e8ccbb;
  --isabelline: hsl(38, 44%, 96%);
  --gainsboro: hsl(0, 0%, 87%);
  --tangerine: hsl(31, 84%, 50%);
  --cinnabar: hsl(3, 90%, 55%);
  --black_95: hsla(0, 0%, 0%, 0.95);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

/* Scrollbar Styling */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: var(--cultured); }
::-webkit-scrollbar-thumb { background-color: var(--deep-saffron); }
::-webkit-scrollbar-thumb:hover { background-color: var(--tangerine); }

@keyframes scaleUp {
  0% {
    transform: scale(1);
}

100% {
    transform: scale(1.05);
}
}

@layer base {
  html{
    @apply font-roboto;
  }

  body{
    @apply bg-white text-n-sonicSilver text-[16px] leading-[1.6];
  }

  .containerr{
    @apply px-[15px] sm:mx-auto sm:w-full sm:max-w-[550px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1200px];
  }

  .h1, .h2, .h3, .h4{
    @apply font-rubik text-n-richblackfogra leading-[1.2] -tracking-[1px];
  }

  .h1, .h2 {
    @apply text-[32px] ;
  }

  .h1{
    @apply font-bold;
  }

  .h2, .h3, .h4{
    @apply font-semibold;
  }

  .h3{
    @apply text-[22px];
  }

  .h4{
    @apply text-[1.8rem];
  }

}

@layer utilities {
  .scroll-snap-inline {
    scroll-snap-type: inline mandatory;
  }

  .scrollbar::-webkit-scrollbar { height: 12px; }

  .scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }

  .scrollbar::-webkit-scrollbar-track {
    outline: 2px solid var(--deep-saffron);
    border-radius: 2px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border: 3px solid var(--cultured);
    border-radius: 12px;
  }
}